# Luminar Camera Calibration Configuration

stream:
  rtsp_url: "rtsp://192.168.0.100:9079/vis"

settings:
  update_interval_ms: 10000  # Interval for auto-updating zoom, gain, focus values from terminal

terminals:
  - name: "Linux"
    type: linux
    port: "COM15"               # Update with actual COM port
    baudrate: 115200
    eol: "\n"
    encoding: "utf-8"
    timeout_ms: 3000
    ignore_responses: []

  - name: "Debug"
    type: debug
    port: "COM14"               # Update with actual COM port
    baudrate: 115200
    eol: "\n"
    encoding: "utf-8"
    timeout_ms: 3000
    ignore_responses: []

  - name: "FPGA"
    type: fpga
    port: "COM13"               # Update with actual COM port
    baudrate: 115200
    eol: "\r\n"
    encoding: "utf-8"
    timeout_ms: 3000
    ignore_responses:
      - "#"
      - "Still here."








operations:

  # find motor max 
  motor_max_script:
    - terminal: Debug
      command: "AFS0" # Disable auto focus
      response: None

    

    - terminal: FPGA 
      command: "MRS0 255" # homing the motor
      response: None

    - delay: 10000 # 10 seconds

    - terminal: FPGA 
      command: "MIOQ7" # get the motor MAX POSITION
      response: "MIOR<val>"

    # - terminal: Debug
    #   command: "AFS1" # Enable auto focus
    #   response: None
  

  unsgrad_command_script:
    - terminal: Debug
      command: "UNSGRAD"
      response: None

    - delay: 300 

    - terminal: Debug
      command: "PWS$R!H"
      response: None




commands:

  #change camera to static ip 
  set_camera_ip_command:
    - terminal: Debug
      command: "NETISETH0 STATIC 192.168.0.100 255.255.255.0 0.0.0.0"
      response: None

  # anble rtsp stream
  enable_rtsp_stream_command:
    - terminal: Debug
      command: "STRS1"
      response: None

  # change zoom


  zoom_command:
    - terminal: Debug
      command: "MZS<val>" #value is 0 - 26 (0 = 10 deg, 10 = 5 deg , 20 = 2.5 deg , 26 = 1 deg)
      response: "MZR<val>"

  # change focus
  focus_command:
    # - terminal: Debug
    #   command: "AFS0" # Disable auto focus
    #   response: None

    - terminal: Debug
      command: "MFS<val>" #value is 0 - 75  manual focus value
      response: "MFR<val>"

    # - terminal: FPGA
    #   command: "MIOS1<val>" #Value between 0 - motor max ( currently 30000)
    #   response: "MIOR-<val>"

  auto_focus_command:
    - terminal: Debug
      command: "AFS1" # Enable auto focus
      response: None
  manual_focus_command:
    - terminal: Debug
      command: "AFS0" # Disable auto focus
      response: None

  gain_command:
    - terminal: Debug
      command: "GAS<val>" #value is 0 - 255 
      response: "GAR<val>"

  set_max_gain_command:
    - terminal: Debug
      command: "GAMXS"
      response: "GAMXR<val>"
  set_medium_gain_command:
    - terminal: Debug
      command: "GAZOS"
      response: "GAZOR<val>"
  set_min_gain_command:
    - terminal: Debug
      command: "GAMNS"
      response: "GAMNR<val>"
  clear_gain_value_command:
    - terminal: Debug
      command: "GACCS"
      response: None
# UV calibration - magnification (width/height)
  uv_magnify_x_command:
    - terminal: FPGA
      command: "UVRXS<val>" # UV zoom horizontal (x) magnification
      response: "UVRXR<val>"

  uv_magnify_y_command:
    - terminal: FPGA
      command: "UVRYS<val>" # UV zoom vertical (y) magnification
      response: "UVRYR<val>"

  # UV calibration - offset (center alignment)
  uv_offset_x_command:
    - terminal: FPGA
      command: "UVOXS<val>" # UV zoom horizontal (x) offset
      response: "UVOXR<val>"

  uv_offset_y_command:
    - terminal: FPGA
      command: "UVOYS<val>" # UV zoom vertical (y) offset
      response: "UVOYR<val>"









  uv_offset_wide_x_command:
    - terminal: Debug
      command: "UVMCS5XO <val>" 
      response: "UVMCR 5XO <val>"

  uv_offset_wide_y_command:
    - terminal: Debug
      command: "UVMCS5YO <val>" 
      response: "UVMCR 5YO <val>"

  uv_magnify_wide_x_command:
    - terminal: Debug
      command: "UVMCS5XM <val>" 
      response: "UVMCR 5XM <val>"

  uv_magnify_wide_y_command:
    - terminal: Debug
      command: "UVMCS5YM <val>" 
      response: "UVMCR 5YM <val>"

  uv_offset_narrow_x_command:
    - terminal: Debug
      command: "UVMCS10XO <val>" 
      response: "UVMCR 10XO <val>"

  uv_offset_narrow_y_command:
    - terminal: Debug
      command: "UVMCS10YO <val>" 
      response: "UVMCR 10YO <val>"

  uv_magnify_narrow_x_command:
    - terminal: Debug
      command: "UVMCS10XM <val>" 
      response: "UVMCR 10XM <val>"

  uv_magnify_narrow_y_command:
    - terminal: Debug
      command: "UVMCS10YM <val>" 
      response: "UVMCR 10YM <val>"
  set_camera_to_uv_command:
    - terminal: Debug
      command: "DMODES2" # set the camera to uv mode
      response: "DMODER<val>"

  set_camera_to_vis_command:
    - terminal: Debug
      command: "DMODES1" # set the camera to vis mode
      response: "DMODER<val>"

  set_camera_to_combined_command:
    - terminal: Debug
      command: "DMODES3" # set the camera to uv + vis mode
      response: "DMODER<val>"



get_values:

  get_camera_mode_value:
    - terminal: Debug
      command: "DMODEQ"
      response: "DMODER<val>"

  # # get motor max value
  get_motor_max_value:
    - terminal: FPGA
      command: "MIOQ7" # get the motor max value
      response: "MIOR<val>"

  # get zoom value
  get_zoom_value:
    - terminal: Debug
      command: "MZQ" # get the zoom value
      response: "MZR<val>"

  # get gain value
  get_gain_value:
    - terminal: Debug
      command: "GAQ" # get the gain value
      response: "GAR<val>"

  # get focus value
  get_focus_value:
    - terminal: Debug
      command: "MFQ" # get the manual focus value
      response: "MFR<val>"



  # get_focus_value:
  #   - terminal: FPGA
  #     command: "MIOQ1" # get the manual focus value
  #     response: "MIOR<val>"

  # get motor position
  get_uv_motor_position:
    - terminal: FPGA
      command: "MIOQ1"
      response: "MIOR<val>"

  # get uv offset x value
  get_uv_offset_x_value:
    - terminal: FPGA
      command: "UVOXQ"
      response: "UVOXR<val>"

  # get uv offset y value
  get_uv_offset_y_value:
    - terminal: FPGA
      command: "UVOYQ"
      response: "UVOYR<val>"

  # get uv magnify x value
  get_uv_magnify_x_value:
    - terminal: FPGA
      command: "UVRXQ"
      response: "UVRXR<val>"

  # get uv magnify y value
  get_uv_magnify_y_value:
    - terminal: FPGA
      command: "UVRYQ"
      response: "UVRYR<val>"


  get_uv_offset_wide_x_value:
    - terminal: Debug
      command: "UVMCQ5XO"
      response: "UVMCR 5XO <val>"
  get_uv_offset_wide_y_value:
    - terminal: Debug
      command: "UVMCQ5YO"
      response: "UVMCR 5YO <val>"
  get_uv_magnify_wide_x_value:
    - terminal: Debug
      command: "UVMCQ5XM"
      response: "UVMCR 5XM <val>"
  get_uv_magnify_wide_y_value:
    - terminal: Debug
      command: "UVMCQ5YM"
      response: "UVMCR 5YM <val>"
  get_uv_offset_narrow_x_value:
    - terminal: Debug
      command: "UVMCQ10XO"
      response: "UVMCR 10XO <val>"
  get_uv_offset_narrow_y_value:
    - terminal: Debug
      command: "UVMCQ10YO"
      response: "UVMCR 10YO <val>"
  get_uv_magnify_narrow_x_value:
    - terminal: Debug
      command: "UVMCQ10XM"
      response: "UVMCR 10XM <val>"
  get_uv_magnify_narrow_y_value:
    - terminal: Debug
      command: "UVMCQ10YM"
      response: "UVMCR 10YM <val>"
# Auto responses - responses that come automatically without sending a command
# These are handled by the background listener
auto_responses:
  uv_vis_focus_info_response:
    response: "set m<val1> <val2> (narrow|wide) <val3>"
    handler: "parse_uv_vis_focus_info"